<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Logstash로 로그 전송 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- 환경 변수를 사용하여 동적으로 Logstash 호스트와 포트를 설정 -->
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <layout class="net.logstash.logback.layout.LogstashLayout">
            <timestampPattern>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampPattern>
        </layout>
    </appender>

    <!-- IntelliJ 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 및 Appender 참조 -->
    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>  <!-- 모든 로그를 Logstash로 전송 -->
        <appender-ref ref="CONSOLE"/>   <!-- 로그를 IntelliJ 콘솔에 출력 -->
    </root>

</configuration>
